<mat-toolbar class="app-toolbar">
  <span></span>
</mat-toolbar>
<div class="Users">
  <mat-card class="example-card">
      <mat-card-title-group>
        <mat-card-title>Log in</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
          <div class="topline">
              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="" [(ngModel)]="user.email">
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Password</mat-label>
                  <input matInput autocomplete="off" type="password" placeholder="" [(ngModel)]="user.password">
              </mat-form-field>
          </div>
          <div class="middleline">
            <button mat-raised-button color="primary" (click)="signIn()">Log in</button>
          </div>
          <div class="bottomline">
          </div>
      </mat-card-content>
      <mat-card-actions align="end"></mat-card-actions>
  </mat-card>

    <p>Password must contain one number, upper and lowercase, special character (!@#$%^&*_=+-) and 8 or more characters.</p>
    <h6>Don't have an account? Use Sign up option on the top menu to create one.</h6>

</div>

